.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap:break-word;
    background: #fff;
   border:1px solid rgba(0,0,0,0.2);
   border-radius: .25rem;
}
.item img{
    width:60px;
    height:80px;
}
.item{
    margin: 0px 15px;
    margin-top: 10px;
}
.item a:hover{
    color:blue;
}
.card{
    margin: 50px;
    padding: 25px;
}
.card img{
    width:250px;
    height:250px;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
